.section_clients-carousel {
  overflow: hidden;
}

.padding-section-large {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

@media screen and (max-width: 991px) {
  .padding-section-large {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-section-large {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

.clients-carousel {
  width: 100%;
}

.clients-carousel_heading-container {
  padding-right: 2.5rem;
  padding-left: 2.5rem;
}

@media screen and (max-width: 767px) {
  .clients-carousel_heading-container {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }
}

.text-align-center {
  text-align: center;
}

@media screen and (max-width: 991px) {
  .text-align-center {
    text-wrap: pretty;
  }
}

.heading-style-h1 {
  font-size: 4rem;
  line-height: 1.25;
}

@media screen and (max-width: 991px) {
  .heading-style-h1 {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 767px) {
  .heading-style-h1 {
    font-size: 2.5rem;
  }
}

.clients-carousel_container {
  position: relative;

  display: flex;
  width: 100%;
  max-width: 100%;
  margin-top: 4rem;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
}

@media screen and (max-width: 767px) {
  .clients-carousel_container {
    margin-top: 2.5rem;
  }
}

.clients-carousel_carousel {
  display: block;
  justify-content: flex-start;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;

  white-space: nowrap;
}

.clients-carousel_link {
  display: inline-block;
  margin-right: 5rem;
  justify-content: center;
  filter: brightness(70%);
}

@media screen and (max-width: 767px) {
  .clients-carousel_link {
    margin-right: 3rem;
  }
}

.clients-carousel_image {
  width: 100%;
  height: 84px;
  max-width: 15rem;
  filter: brightness(70%);
  object-fit: contain;
}

@media screen and (max-width: 767px) {
  .clients-carousel_image {
    height: 76px;
    margin-right: 16px;
  }
}

@media screen and (max-width: 479px) {
  .clients-carousel_image {
    margin-right: 0px;
  }
}

.clients-carousel_image.black-logo {
  filter: invert(100%) brightness(70%);
}

.clients-carousel_overlay {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;

  width: 100%;
  height: 100%;

  background-image: linear-gradient(90deg, black 10%, var(--transparent) 25%, var(--transparent) 75%, var(--black) 90%);

  pointer-events: none;
}

@media screen and (max-width: 479px) {
  .clients-carousel_overlay {
    background-image: linear-gradient(90deg, black 5%, var(--transparent) 15%, var(--transparent) 85%, var(--black) 95%);
  }
}