.header-new {
  position: fixed;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  z-index: 999;

  display: grid;
  width: 100%;
  padding: 1.5rem 2.5rem;
  justify-content: stretch;
  align-content: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}

@media screen and (max-width: 991px) {
  .header-new {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .header-new {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }
}

.header-new_logo-container {
  position: relative;
  z-index: 10;
  justify-content: flex-start;
  align-items: center;
}

.header-new_logo-link {
  width: 100%;
  max-width: 3rem;
}

.header-new_nav_desktop {
  display: flex;
  width: 100%;
  max-width: 38rem;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .header-new_nav_desktop {
    display: none;
  }
}

.header-new_nav-link {
  display: flex;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;

  background-color: var(--transparent);

  font-weight: 400;
  letter-spacing: 0.01rem;
}

.header-new_nav-link_icon {
  font-family: 'Fa Sharp';
  font-size: 0.75rem;
  font-weight: 400;
}

@media screen and (max-width: 991px) {
  .header-new_cta_desktop {
    display: none;
  }
}

.button-new {
  display: flex;
  padding: 1.125rem 2.5rem;
  justify-content: center;
  align-items: center;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;

  border: 1px solid var(--white);
  border-radius: 2.5rem;

  background-color: var(--white);

  transition: color 200ms ease,background-color 200ms ease,padding 200ms ease;

  color: var(--black);
  white-space: nowrap;
}

.button-new:where(.w-variant-8c25e7cc-ce0b-b314-aee7-ecf4d75097f3) {
  background-color: var(--transparent);
  color: var(--white);
}

.button-new:hover {
  padding-right: 4rem;
  background-color: var(--white);
  color: var(--black);
}

.button-new:focus-visible {
  background-color: var(--white);
  color: var(--black);
}

.button-new.is-outline {
  background-color: var(--transparent);
  color: var(--white);
}

.button-new.is-outline:hover {
  background-color: var(--white);
  color: var(--black);
}

.button-new.is-outline.is-large:hover {
  padding-right: 4rem;
}

.button-new.is-text {
  padding: 0.5rem 0rem;

  border-style: none none solid;
  border-bottom-width: 0.125rem;
  border-bottom-color: var(--gray-03);
  border-radius: 0rem;

  background-color: var(--transparent);

  transition: border-color 200ms ease,color 200ms ease,background-color 200ms ease,padding 200ms ease;

  color: var(--gray-03);
  font-size: 1.125rem;
  font-weight: 400;
  text-align: center;
}

.button-new.is-text:hover {
  border-bottom-color: var(--white);
  color: var(--white);
}

@media screen and (max-width: 479px) {
  .button-new.is-text.hide-mobile-portrait {
    display: none;
  }
}

.button-new.is-text.is-small {
  font-size: 1rem;
}

.text-size-medium {
  font-size: 1.125rem;
  line-height: 1.5;
}

.button-new.is-text.text-size-normal {
  font-size: 1rem;
}

.text-size-normal {
  font-size: 1rem;
}

.button-new.is-text.hide {
  display: none;
}

.hide {
  display: none;
}

.button-new.is-text.border-none {
  border-bottom-width: 0rem;
}

.width-full {
  width: 100%;
}

.button-new.form-submit:hover {
  padding-right: 2rem;
}

.button-new.is-large {
  padding: 1.25rem 2.5rem;
}

.button-new.heading-style-h3_small {
  padding: 0.75rem 1.5rem;
}

.button-new.heading-style-h3_small:hover {
  padding-right: 2.5rem;
}

.heading-style-h3_small {
  font-size: 1.5rem;
  font-weight: 400;
}

.button-new.is-small {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.button-new.cookie-button {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background-color: var(--transparent);
  color: var(--white);
}

.button-new.cookie-button:hover {
  padding-right: 2.5rem;
  background-color: var(--white);
  color: var(--black);
}

.button-new.cookie-button:focus-visible {
  background-color: var(--white);
  color: var(--black);
}

@media screen and (max-width: 479px) {
  .button-new.hide-mobile-portrait {
    display: none;
  }
}

.button-new.show-mobile-portrait {
  display: none;
}

@media screen and (max-width: 479px) {
  .button-new.show-mobile-portrait {
    display: flex;
  }
}

.button-new_content {
  position: relative;
  font-size: 1.125rem;
  font-weight: 400;
}

.button-new_icon {
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;

  opacity: 0;

  transform: translate(0px, -50%);

  font-family: 'Fa Sharp';
  color: var(--black);
  font-weight: 400;

  left: calc(100% + .5rem);
}

.button-new_icon.is-text {
  position: static;
  opacity: 100;
  transform: none;
  transition: color 200ms ease;
  font-size: 1rem;
}

.mega-menu {
  position: absolute;
  left: 0px;
  top: 100%;

  display: flex;
  width: 100%;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

@media screen and (max-width: 991px) {
  .mega-menu {
    display: none;
  }
}

.mega-menu_image-track-container {
  position: relative;
  overflow: hidden;
  width: 33.33%;
}

.mega-menu_image-track {
  display: flex;
  width: 300%;
  height: 100%;
}

.mega-menu_image-container {
  position: relative;
  width: 100%;
}

.mega-menu_image {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;

  width: 100%;
  height: 100%;

  object-fit: cover;
}

.mega-menu_image.left-200 {
  left: 200%;
}

.mega-menu_solutions_industries-image {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;

  width: 100%;
  height: 33.33%;

  object-fit: cover;
}

.mega-menu_solutions_industries-image.second-child {
  top: 33.33%;
}

.mega-menu_solutions_industries-image.third-child {
  top: 66.66%;
}

.mega-menu_content-container {
  display: flex;
  padding: 5rem;
  flex-direction: column;
  flex-wrap: nowrap;
  flex: 1;
  grid-column-gap: 4.25rem;
  grid-row-gap: 4.25rem;

  background-color: var(--gray-06);
}

.mega-menu_heading {
  color: var(--gray-03);
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 0.0375rem;
  text-transform: uppercase;
}

.mega-menu_tabs {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.mega-menu_tabs_menu {
  display: flex;
  margin-bottom: 5rem;
  grid-column-gap: 2.5rem;
  grid-row-gap: 2.5rem;
  border-bottom: 1px solid var(--gray-05);
}

.mega-menu_tabs_tab-trigger {
  padding: 0.75rem 0px;

  border-bottom: 3px solid var(--transparent);

  background-color: var(--transparent);

  color: var(--white);
  font-weight: 500;
  letter-spacing: 0.02rem;
  text-transform: uppercase;
}

.mega-menu_tabs_tab-trigger:hover {
  border-bottom-color: var(--gray-05);
}

.mega-menu_tabs_tab-trigger:focus-visible {
  box-shadow: 0 0 0 2px var(--gray-06), 0 0 0 4px var(--blue);
}

.mega-menu_tabs_tab-trigger:global(.w--current) {
  border-bottom-color: var(--white);
  background-color: var(--transparent);
}

.mega-menu_tabs-content {
  overflow: visible;
}

.mega-menu_tabs_tab-content {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 2.5rem;
  grid-row-gap: 2.5rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
}

.mega-menu_link {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
}

.mega-menu_link:focus-visible {
  box-shadow: 0 0 0 2px var(--gray-06), 0 0 0 4px var(--blue);
}

.mega-menu_link-heading {
  position: relative;
  transition: padding 200ms ease;
  font-weight: 400;
}

.mega-menu_link-heading_icon {
  position: absolute;
  top: 50%;

  transform: translate(0%, -50%) scale(0);

  font-family: 'Fa Sharp';
  font-size: 0.75rem;
  font-weight: 400;

  right: calc(100% + .25rem);
}

.mega-menu_link-description {
  color: var(--gray-03);
  font-size: 0.875rem;
  line-height: 1.25;
  font-weight: 300;
}

.absolute-image {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;

  width: 100%;
  height: 100%;

  object-fit: cover;
}

.absolute-image.left-200 {
  left: 200%;
}

.absolute-image.left-100 {
  left: 100%;
}

.absolute-image._w-1-2 {
  width: 50%;
}

.absolute-image._w-1-2.left-1-2 {
  left: 50%;
}

.absolute-image.z-1 {
  z-index: -1;
}

.grayscale-100 {
  filter: grayscale(100%);
}

.saturation-0 {
  filter: saturate(0%);
}

.absolute-image.z-1.parallax {
  height: calc(100% + 5rem);
}

.absolute-image.object-fit-top {
  object-position: 50% 0%;
}

.absolute-image.object-position-center-75 {
  object-position: 50% 75%;
}

.absolute-image.object-position-bottom {
  object-position: 50% 100%;
}

.absolute-image.object-position-center-25 {
  object-position: 50% 25%;
}

.mega-menu_company_content {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 2.5rem;
  grid-row-gap: 2.5rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

.header-new_mobile-menu_toggle {
  display: none;
}

@media screen and (max-width: 991px) {
  .header-new_mobile-menu_toggle {
    position: relative;
    z-index: 10;

    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    grid-column-gap: 0.75rem;
    grid-row-gap: 0.75rem;
  }
}

@media screen and (max-width: 991px) {
  .mobile-menu_toggle_bars {
    position: relative;
    width: 2rem;
    height: 2rem;
  }
}

@media screen and (max-width: 991px) {
  .mobile-menu_toggle_bar {
    position: absolute;
    left: 50%;
    top: 0%;
    right: auto;
    bottom: auto;

    width: 1.5rem;
    height: 0.125rem;
    padding: 0px;

    border-radius: 0.5rem;

    background-color: var(--white);

    transform: translate(-50%, 0px);
  }
}

@media screen and (max-width: 991px) {
  .mobile-menu_toggle_bar.top-bar {
    top: 0.325rem;
  }
}

@media screen and (max-width: 991px) {
  .mobile-menu_toggle_bar.middle-bar {
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 991px) {
  .mobile-menu_toggle_bar.bottom-bar {
    top: calc(100% - .45rem);
  }
}

@media screen and (max-width: 991px) {
  .mobile-menu_toggle_text {
    font-size: 1.5rem;
    font-weight: 400;
  }
}

.mobile-menu {
  display: none;
}

@media screen and (max-width: 991px) {
  .mobile-menu {
    position: absolute;
    left: 0%;
    top: 0%;
    right: auto;
    bottom: auto;
    z-index: 0;

    display: flex;
    overflow: scroll;
    width: 100%;
    height: 100svh;
    max-height: 100svh;
    padding: 10rem 2.5rem 5rem;
    flex-direction: column;
    flex-wrap: nowrap;
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;

    background-color: var(--gray-06);

    transition: opacity 200ms ease;
  }
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }
}

@media screen and (max-width: 991px) {
  .mobile-menu_accordion-item {
    border-bottom: 1px solid var(--gray-05);
  }
}

@media screen and (max-width: 991px) {
  .mobile-menu_accordion-item_trigger {
    display: flex;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (max-width: 479px) {
  .mobile-menu_accordion-item_trigger {
    padding-right: 0rem;
    padding-left: 0rem;
  }
}

@media screen and (max-width: 991px) {
  .mobile-menu_accordion-item_trigger_text {
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: 0.025rem;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 479px) {
  .mobile-menu_accordion-item_trigger_text {
    font-size: 1.125rem;
  }
}

@media screen and (max-width: 991px) {
  .mobile-menu_accordion-item_trigger_icon {
    transition: transform 200ms ease;

    font-family: 'Fa Sharp';
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.025rem;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 991px) {
  .mobile-menu_accordion-item_content {
    display: flex;
    overflow: hidden;
    padding: 0px;
    flex-direction: column;
    flex-wrap: nowrap;
    grid-auto-columns: 1fr;
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;

    transition: padding 200ms ease;
  }
}

@media screen and (max-width: 479px) {
  .mobile-menu_accordion-item_content {
    padding-right: 0rem;
    padding-left: 0rem;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 991px) {
  .mobile-menu_accordion-item_content-section {
    display: flex;
    padding: 0px 1rem;
    flex-direction: column;
    flex-wrap: nowrap;
    grid-auto-columns: 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;

    transition: padding 200ms ease;
  }
}

@media screen and (max-width: 479px) {
  .mobile-menu_accordion-item_content-section {
    padding-right: 0rem;
    padding-left: 0rem;
    grid-template-columns: 1fr;
  }
}

.mobile-menu_accordion-item_content-section_heading {
  color: var(--gray-03);
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 0.0375rem;
  text-transform: uppercase;
}

@media screen and (max-width: 991px) {
  .mobile-menu_accordion-item_content-section_grid {
    display: grid;
    overflow: hidden;
    padding-right: 1rem;
    padding-left: 1rem;
    flex-direction: column;
    flex-wrap: nowrap;
    grid-auto-columns: 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;

    transition: padding 200ms ease;
  }
}

@media screen and (max-width: 479px) {
  .mobile-menu_accordion-item_content-section_grid {
    padding-right: 0rem;
    grid-template-columns: 1fr;
  }
}

.mobile-menu_link {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
}

.mobile-menu_link:focus-visible {
  box-shadow: 0 0 0 2px var(--gray-06), 0 0 0 4px var(--blue);
}

@media screen and (max-width: 991px) {
  .mobile-menu_accordion-link {
    display: flex;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid var(--gray-05);
  }
}

@media screen and (max-width: 479px) {
  .mobile-menu_accordion-link {
    padding-right: 0rem;
    padding-left: 0rem;
  }
}

@media screen and (max-width: 991px) {
  .mobile-menu_accordion-link_text {
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: 0.025rem;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 479px) {
  .mobile-menu_accordion-link_text {
    font-size: 1.125rem;
  }
}

@media screen and (max-width: 991px) {
  .mobile-menu_accordion-link_icon {
    transition: transform 200ms ease;

    font-family: 'Fa Sharp';
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.025rem;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 991px) {
  .mobile-menu_header-overlay {
    position: fixed;
    left: 0%;
    top: 0%;
    right: auto;
    bottom: auto;

    width: 100%;
    height: 7rem;

    border-bottom: 1px solid var(--gray-05);

    background-color: var(--gray-06);
  }
}

#w-node-d3886be0-b2ac-bffa-e106-f85e21ea7fb7-21ea7fb6 {
  justify-self: start;
}
#w-node-d3886be0-b2ac-bffa-e106-f85e21ea7fba-21ea7fb6 {
  grid-column-start: span 3;
  grid-column-end: span 3;
  grid-row-start: span 1;
  grid-row-end: span 1;
  justify-self: center;
}
#w-node-d3886be0-b2ac-bffa-e106-f85e21ea7fc7-21ea7fb6 {
  justify-self: end;
}
#mega-menu_solutions.w-node-d3886be0-b2ac-bffa-e106-f85e21ea7fce-21ea7fb6 {
}
#w-node-d3886be0-b2ac-bffa-e106-f85e21ea7fea-21ea7fb6 {
}
#w-node-d3886be0-b2ac-bffa-e106-f85e21ea7ff1-21ea7fb6 {
}
#w-node-d3886be0-b2ac-bffa-e106-f85e21ea7ff8-21ea7fb6 {
}
#w-node-d3886be0-b2ac-bffa-e106-f85e21ea7fff-21ea7fb6 {
}
#w-node-d3886be0-b2ac-bffa-e106-f85e21ea8006-21ea7fb6 {
}
#w-node-d3886be0-b2ac-bffa-e106-f85e21ea800d-21ea7fb6 {
}
#w-node-d3886be0-b2ac-bffa-e106-f85e21ea8016-21ea7fb6 {
}
#w-node-d3886be0-b2ac-bffa-e106-f85e21ea801d-21ea7fb6 {
}
#w-node-d3886be0-b2ac-bffa-e106-f85e21ea8024-21ea7fb6 {
}
#w-node-d3886be0-b2ac-bffa-e106-f85e21ea802b-21ea7fb6 {
}
#w-node-d3886be0-b2ac-bffa-e106-f85e21ea8032-21ea7fb6 {
}
#w-node-d3886be0-b2ac-bffa-e106-f85e21ea8039-21ea7fb6 {
}
#w-node-d3886be0-b2ac-bffa-e106-f85e21ea8042-21ea7fb6 {
}
#w-node-d3886be0-b2ac-bffa-e106-f85e21ea8049-21ea7fb6 {
}
#w-node-d3886be0-b2ac-bffa-e106-f85e21ea8050-21ea7fb6 {
}
#w-node-d3886be0-b2ac-bffa-e106-f85e21ea8057-21ea7fb6 {
}
#w-node-d3886be0-b2ac-bffa-e106-f85e21ea805e-21ea7fb6 {
}
#w-node-d3886be0-b2ac-bffa-e106-f85e21ea8065-21ea7fb6 {
}
#mega-menu_company.w-node-d3886be0-b2ac-bffa-e106-f85e21ea806c-21ea7fb6 {
}
#w-node-d3886be0-b2ac-bffa-e106-f85e21ea8073-21ea7fb6 {
}
#w-node-d3886be0-b2ac-bffa-e106-f85e21ea807a-21ea7fb6 {
}
#w-node-d3886be0-b2ac-bffa-e106-f85e21ea8081-21ea7fb6 {
}
#w-node-d3886be0-b2ac-bffa-e106-f85e21ea8088-21ea7fb6 {
}
#w-node-d3886be0-b2ac-bffa-e106-f85e21ea808f-21ea7fb6 {
}
#w-node-d3886be0-b2ac-bffa-e106-f85e21ea8090-21ea7fb6 {
}
#w-node-d3886be0-b2ac-bffa-e106-f85e21ea80a6-21ea7fb6 {
}
#w-node-d3886be0-b2ac-bffa-e106-f85e21ea80ab-21ea7fb6 {
}
#w-node-d3886be0-b2ac-bffa-e106-f85e21ea80b0-21ea7fb6 {
}
#w-node-d3886be0-b2ac-bffa-e106-f85e21ea80b5-21ea7fb6 {
}
#w-node-d3886be0-b2ac-bffa-e106-f85e21ea80ba-21ea7fb6 {
}
#w-node-d3886be0-b2ac-bffa-e106-f85e21ea80bf-21ea7fb6 {
}
#w-node-d3886be0-b2ac-bffa-e106-f85e21ea80c8-21ea7fb6 {
}
#w-node-d3886be0-b2ac-bffa-e106-f85e21ea80cd-21ea7fb6 {
}
#w-node-d3886be0-b2ac-bffa-e106-f85e21ea80d2-21ea7fb6 {
}
#w-node-d3886be0-b2ac-bffa-e106-f85e21ea80d7-21ea7fb6 {
}
#w-node-d3886be0-b2ac-bffa-e106-f85e21ea80dc-21ea7fb6 {
}
#w-node-d3886be0-b2ac-bffa-e106-f85e21ea80e1-21ea7fb6 {
}
#w-node-d3886be0-b2ac-bffa-e106-f85e21ea80ea-21ea7fb6 {
}
#w-node-d3886be0-b2ac-bffa-e106-f85e21ea80ef-21ea7fb6 {
}
#w-node-d3886be0-b2ac-bffa-e106-f85e21ea80f4-21ea7fb6 {
}
#w-node-d3886be0-b2ac-bffa-e106-f85e21ea80f9-21ea7fb6 {
}
#w-node-d3886be0-b2ac-bffa-e106-f85e21ea80fe-21ea7fb6 {
}
#w-node-d3886be0-b2ac-bffa-e106-f85e21ea8103-21ea7fb6 {
}
#w-node-d3886be0-b2ac-bffa-e106-f85e21ea8116-21ea7fb6 {
}
#w-node-d3886be0-b2ac-bffa-e106-f85e21ea811b-21ea7fb6 {
}
#w-node-d3886be0-b2ac-bffa-e106-f85e21ea8120-21ea7fb6 {
}
#w-node-d3886be0-b2ac-bffa-e106-f85e21ea8125-21ea7fb6 {
}
#w-node-d3886be0-b2ac-bffa-e106-f85e21ea8136-21ea7fb6 {
}
#w-node-d3886be0-b2ac-bffa-e106-f85e21ea8137-21ea7fb6 {
}
#w-node-_806b8d9c-9de5-de75-0c46-217421e0e75a-21ea7fb6 {
}
@media screen and (max-width: 991px) {
  #mobile-menu_toggle.w-node-d3886be0-b2ac-bffa-e106-f85e21ea8091-21ea7fb6 {
  }
  #w-node-d3886be0-b2ac-bffa-e106-f85e21ea80a5-21ea7fb6 {
  }
  #w-node-d3886be0-b2ac-bffa-e106-f85e21ea80c7-21ea7fb6 {
  }
  #w-node-d3886be0-b2ac-bffa-e106-f85e21ea80e9-21ea7fb6 {
  }
  #w-node-d3886be0-b2ac-bffa-e106-f85e21ea8115-21ea7fb6 {
  }
  #w-node-d3886be0-b2ac-bffa-e106-f85e21ea8120-21ea7fb6 {
  }
}