.roles-links {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .roles-links {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.roles-links_item {
  position: relative;

  display: flex;
  width: 100%;
  padding: 5rem;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  grid-column-gap: 2.5rem;
  grid-row-gap: 2.5rem;

  background-image: linear-gradient(90deg, hsla(0, 0.00%, 0.00%, 0.90), var(--transparent));
}

@media screen and (max-width: 991px) {
  .roles-links_item {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }
}

@media screen and (max-width: 479px) {
  .roles-links_item {
    padding: 4rem 1.25rem;
  }
}

.roles-links_item_content {
  display: flex;
  max-width: 24rem;
  margin-right: auto;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
}

.superheading {
  color: var(--gray-03);
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
}

.text-align-center {
  text-align: center;
}

@media screen and (max-width: 991px) {
  .text-align-center {
    text-wrap: pretty;
  }
}

.text-color-white {
  color: var(--white);
}

.superheading.is-large {
  font-size: 0.875rem;
  letter-spacing: 0.0875rem;
}

.heading-style-h2_small {
  font-size: 2rem;
}

.font-family-ivypresto {
  display: inline;
  font-family: ivypresto-headline;
  font-style: italic;
}

.absolute-image {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;

  width: 100%;
  height: 100%;

  object-fit: cover;
}

.absolute-image.left-200 {
  left: 200%;
}

.absolute-image.left-100 {
  left: 100%;
}

.absolute-image._w-1-2 {
  width: 50%;
}

.absolute-image._w-1-2.left-1-2 {
  left: 50%;
}

.absolute-image.z-1 {
  z-index: -1;
}

.grayscale-100 {
  filter: grayscale(100%);
}

.saturation-0 {
  filter: saturate(0%);
}

.absolute-image.z-1.parallax {
  height: calc(100% + 5rem);
}

.absolute-image.object-fit-top {
  object-position: 50% 0%;
}

.absolute-image.object-position-center-75 {
  object-position: 50% 75%;
}

.absolute-image.object-position-bottom {
  object-position: 50% 100%;
}

.absolute-image.object-position-center-25 {
  object-position: 50% 25%;
}

.button-new {
  display: flex;
  padding: 1.125rem 2.5rem;
  justify-content: center;
  align-items: center;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;

  border: 1px solid var(--white);
  border-radius: 2.5rem;

  background-color: var(--white);

  transition: color 200ms ease,background-color 200ms ease,padding 200ms ease;

  color: var(--black);
  white-space: nowrap;
}

.button-new:where(.w-variant-8c25e7cc-ce0b-b314-aee7-ecf4d75097f3) {
  background-color: var(--transparent);
  color: var(--white);
}

.button-new:hover {
  padding-right: 4rem;
  background-color: var(--white);
  color: var(--black);
}

.button-new:focus-visible {
  background-color: var(--white);
  color: var(--black);
}

.button-new.is-outline {
  background-color: var(--transparent);
  color: var(--white);
}

.button-new.is-outline:hover {
  background-color: var(--white);
  color: var(--black);
}

.button-new.is-outline.is-large:hover {
  padding-right: 4rem;
}

.button-new.is-text {
  padding: 0.5rem 0rem;

  border-style: none none solid;
  border-bottom-width: 0.125rem;
  border-bottom-color: var(--gray-03);
  border-radius: 0rem;

  background-color: var(--transparent);

  transition: border-color 200ms ease,color 200ms ease,background-color 200ms ease,padding 200ms ease;

  color: var(--gray-03);
  font-size: 1.125rem;
  font-weight: 400;
  text-align: center;
}

.button-new.is-text:hover {
  border-bottom-color: var(--white);
  color: var(--white);
}

@media screen and (max-width: 479px) {
  .button-new.is-text.hide-mobile-portrait {
    display: none;
  }
}

.button-new.is-text.is-small {
  font-size: 1rem;
}

.text-size-medium {
  font-size: 1.125rem;
  line-height: 1.5;
}

.button-new.is-text.text-size-normal {
  font-size: 1rem;
}

.text-size-normal {
  font-size: 1rem;
}

.button-new.is-text.hide {
  display: none;
}

.hide {
  display: none;
}

.button-new.is-text.border-none {
  border-bottom-width: 0rem;
}

.width-full {
  width: 100%;
}

.button-new.form-submit:hover {
  padding-right: 2rem;
}

.button-new.is-large {
  padding: 1.25rem 2.5rem;
}

.button-new.heading-style-h3_small {
  padding: 0.75rem 1.5rem;
}

.button-new.heading-style-h3_small:hover {
  padding-right: 2.5rem;
}

.heading-style-h3_small {
  font-size: 1.5rem;
  font-weight: 400;
}

.button-new.is-small {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.button-new.cookie-button {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background-color: var(--transparent);
  color: var(--white);
}

.button-new.cookie-button:hover {
  padding-right: 2.5rem;
  background-color: var(--white);
  color: var(--black);
}

.button-new.cookie-button:focus-visible {
  background-color: var(--white);
  color: var(--black);
}

@media screen and (max-width: 479px) {
  .button-new.hide-mobile-portrait {
    display: none;
  }
}

.button-new.show-mobile-portrait {
  display: none;
}

@media screen and (max-width: 479px) {
  .button-new.show-mobile-portrait {
    display: flex;
  }
}

.button-new_content {
  position: relative;
  font-size: 1.125rem;
  font-weight: 400;
}

.button-new_icon {
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;

  opacity: 0;

  transform: translate(0px, -50%);

  font-family: 'Fa Sharp';
  color: var(--black);
  font-weight: 400;

  left: calc(100% + .5rem);
}

.button-new_icon.is-text {
  position: static;
  opacity: 100;
  transform: none;
  transition: color 200ms ease;
  font-size: 1rem;
}