.section_scroll-blur {
  position: sticky;
  bottom: 0px;
  width: 100%;
  height: 10rem;
  pointer-events: none;
}

.scroll-blur_item {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;

  width: 100%;
  height: 100%;
}

.scroll-blur_item.first {
  backdrop-filter: blur(0.055px);
  mask-image: linear-gradient(rgba(0, 0, 0, 0) 0%, black 12.5%, black 25%, rgba(0, 0, 0, 0) 37.5%);
}

.scroll-blur_item.second {
  backdrop-filter: blur(0.109px);
  mask-image: linear-gradient(rgba(0, 0, 0, 0) 12.5%, black 25%, black 37.5%, rgba(0, 0, 0, 0) 50%);
}

.scroll-blur_item.third {
  backdrop-filter: blur(0.219px);
  mask-image: linear-gradient(rgba(0, 0, 0, 0) 25%, black 37.5%, black 50%, rgba(0, 0, 0, 0) 62.5%);
}

.scroll-blur_item.fourth {
  backdrop-filter: blur(0.438px);
  mask-image: linear-gradient(rgba(0, 0, 0, 0) 37.5%, black 50%, black 62.5%, rgba(0, 0, 0, 0) 75%);
}

.scroll-blur_item.fifth {
  backdrop-filter: blur(0.875px);
  mask-image: linear-gradient(rgba(0, 0, 0, 0) 50%, black 62.5%, black 75%, rgba(0, 0, 0, 0) 87.5%);
}

.scroll-blur_item.sixth {
  backdrop-filter: blur(1.75px);
  mask-image: linear-gradient(rgba(0, 0, 0, 0) 62.5%, black 75%, black 87.5%, rgba(0, 0, 0, 0) 100%);
}

.scroll-blur_item.seventh {
  backdrop-filter: blur(3.5px);
  mask-image: linear-gradient(rgba(0, 0, 0, 0) 75%, black 87.5%, black 100%);
}

.scroll-blur_item.eighth {
  backdrop-filter: blur(7px);
  mask-image: linear-gradient(rgba(0, 0, 0, 0) 87.5%, black 100%);
}