.service-hero_meta_list-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;

  color: var(--gray-02);
  font-size: 1.125rem;
  line-height: 1.25;
}

.service-hero_meta_list-item_icon {
  font-family: 'Fa Sharp';
  font-size: 1rem;
  font-weight: 400;
}