.contact-form {
  width: 100%;
  margin-bottom: 0px;
}

.form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 2.5rem;
  grid-row-gap: 2.5rem;
}

@media screen and (max-width: 767px) {
  .form {
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
  }
}

.sticky-contact-form_heading {
  margin-bottom: 8px;
}

@media screen and (max-width: 767px) {
  .sticky-contact-form_heading {
    font-size: 36px;
  }
}

.sticky-contact-form_heading.success-message {
  margin-bottom: 16px;
  background-color: transparent;
}

.success-message {
  border-radius: 4px;
  background-color: transparent;
}

.sticky-contact-form_heading.sticky-contact-form-header {
  margin-bottom: 32px;
  font-size: 48px;
}

@media screen and (min-width: 1920px) {
  .sticky-contact-form_heading.sticky-contact-form-header {
    margin-bottom: 31px;
  }
}

.contact-form_form-wrapper {
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 0px;
}

.contact-form_fields {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.contact-form_field-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

@media screen and (max-width: 479px) {
  .contact-form_field-container {
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.hide {
  display: none;
}

.contact-form_field {
  width: 100%;
}

.contact-form_input {
  display: block;
  width: 100%;
  margin-bottom: 0px;
  padding: 0rem 1rem;

  border: 1px none var(--transparent);
  border-radius: 0.25rem;

  background-color: var(--gray-06);

  transition: border-color 200ms ease;

  color: var(--gray-01);
  font-weight: 400;
}

.contact-form_input::placeholder {
  color: var(--gray-03);
}

.contact-form_input.form-textarea {
  height: 100px;
}

.contact-form_input.form-field-other {
  display: block;
}

.contact-form_input.select-field {
  border-width: 1px;
  border-color: var(--transparent);
  transition: border-color 200ms ease;
}

.contact-form_input.select-field:focus-visible {
  border-width: 1px;
  border-color: var(--white);
}

.contact-form_select-container {
  position: relative;
  width: 100%;
}

.contact-form_select {
  width: 100%;
  min-width: 15.5rem;
  margin-bottom: 0px;
  padding: 0rem 1.4rem 0rem 1rem;

  border: 1px none var(--transparent);
  border-radius: 0.25rem;

  background-color: var(--gray-06);

  transition: border-color 200ms ease;

  color: var(--gray-01);
  font-weight: 400;
}

@media screen and (max-width: 479px) {
  .contact-form_select {
    min-width: auto;
  }
}

.contact-form_textarea {
  min-height: 6rem;
  padding: 0.6rem 1rem;

  border: 1px none var(--transparent);
  border-radius: 0.25rem;

  background-color: var(--gray-06);

  transition: border-color 200ms ease;

  color: var(--gray-01);
  font-weight: 400;
}

.contact-form_textarea::placeholder {
  color: var(--gray-03);
}

.contact-form_submit-container {
  position: relative;
  z-index: 1;

  display: flex;
  overflow: hidden;
  align-items: center;

  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;

  background-color: var(--robin-red);

  width: fit-content;
}

@media screen and (max-width: 479px) {
  .contact-form_submit-container {
    height: 52px;
  }
}

.contact-form_submit-container.button {
  margin-top: 0px;
  padding: 0px;
}

.button {
  position: relative;

  display: flex;
  overflow: hidden;
  margin-top: 32px;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;

  border: 0px none black;

  background-color: transparent;

  transition: all 300ms ease;

  font-family: Gotham;
  color: transparent;
  font-size: 20px;
  line-height: 1em;
  font-weight: 500;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: none;
  white-space: nowrap;
}

.button:hover {
  color: transparent;
}

@media screen and (max-width: 991px) {
  .button {
    padding-right: 24px;
    padding-left: 24px;
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .button {
    max-width: 212px;
    margin-top: 0px;
    padding-right: 24px;
    padding-left: 24px;
  }
}

@media screen and (max-width: 479px) {
  .button {
    align-self: flex-start;
  }
}

.contact-form_submit {
  position: relative;
  z-index: 3;

  padding: 0.75rem 2.5rem;

  border-radius: 0.25rem;

  background-color: var(--transparent);

  transition: color 200ms ease;

  font-size: 20px;
}

.contact-form_submit:hover {
  color: var(--black);
}

.contact-form_submit:focus {
  color: var(--black);
}

.contact-form_submit-overlay {
  position: absolute;
  left: -101%;
  top: 0%;
  right: auto;
  bottom: auto;

  width: 100%;
  height: 100%;

  background-color: var(--white);

  transition: transform 300ms ease;
}

.contact-form_success-container {
  border-radius: 4px;
  background-color: transparent;
}

.contact-form_success-container._w-form-done {
  font-size: 1.5rem;
  line-height: 1.25;
}

.contact-form_success-heading {
  margin-top: 0px;
  font-size: 2rem;
  line-height: 1.25;
  text-align: left;
}

.text-align-left {
  text-align: left;
}

.font-weight-light {
  font-weight: 300;
}

.contact-form_error-container {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 0.25rem;
  background-color: transparent;
}

.contact-form_error-container._w-form-fail {
  font-size: 1.5rem;
  line-height: 1.25;
}

.contact-form_error {
  line-height: 1.3;
  font-weight: 500;
  text-align: center;
}

#w-node-f51d6808-26fd-264e-fc3a-e9f7d0e3d905-d0e3d8f1 {
  grid-column-start: span 2;
  grid-column-end: span 2;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-f51d6808-26fd-264e-fc3a-e9f7d0e3d908-d0e3d8f1 {
  grid-column-start: span 2;
  grid-column-end: span 2;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-f51d6808-26fd-264e-fc3a-e9f7d0e3d909-d0e3d8f1 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-f51d6808-26fd-264e-fc3a-e9f7d0e3d90a-d0e3d8f1 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
@media screen and (max-width: 479px) {
  #w-node-f51d6808-26fd-264e-fc3a-e9f7d0e3d8f8-d0e3d8f1 {
    grid-column-start: span 2;
    grid-column-end: span 2;
    grid-row-start: span 1;
    grid-row-end: span 1;
  }
  #w-node-f51d6808-26fd-264e-fc3a-e9f7d0e3d8fd-d0e3d8f1 {
    grid-column-start: span 2;
    grid-column-end: span 2;
    grid-row-start: span 1;
    grid-row-end: span 1;
  }
  #w-node-f51d6808-26fd-264e-fc3a-e9f7d0e3d90a-d0e3d8f1 {
    grid-column-start: span 2;
    grid-column-end: span 2;
  }
}