---
import { DevLinkProvider } from '../../devlink/DevLinkProvider.jsx';
// import '../../devlink/global.css'; // Webflow Styles
import '../styles/globals.css';
import jokerIcon from '../assets/joker_icon.svg';
---

<!doctype html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta
			name='viewport'
			content='width=device-width'
		/>
		<meta
			property='og:image'
			content={jokerIcon.src}
		/>
		<link
			rel='icon'
			type='image/svg+xml'
			href={'https://cdn.prod.website-files.com/62e3e9ad20cf160251505194/63ed4694e85c74bb2eceefdf_sidekick-logo-icon-colorlarge%20copy.png'}
		/>
		<link
			rel='preconnect'
			href='https://fonts.googleapis.com'
		/>
		<link
			rel='preconnect'
			href='https://fonts.gstatic.com'
			crossorigin
		/>
		<link
			href='https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap'
			rel='stylesheet'
		/>
		<meta
			name='generator'
			content={Astro.generator}
		/>
		<title>404 Page Not Found | Sidekick Creative Agency</title>
		<!-- Google tag (gtag.js) -->
		<script
			async
			src='https://www.googletagmanager.com/gtag/js?id=G-PTV5QFG34H'
		></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag('js', new Date());

			gtag('config', 'G-PTV5QFG34H');
		</script>
	</head>
	<body>
		<DevLinkProvider client:load>
			<slot />
		</DevLinkProvider>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
